{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des installation{% endblock %}

{% block body %}
    <h4 class="content-title">
        Installation de l'invité
    </h4>
    <div class="component-section no-code">
        <p class="mg-b-25"></p>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible mg-b-25 fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        {% if invite %}
            <div class="people-list people-list-two">
                <div class="people-list-body">
                    <div class="row">
                        <div class="col offset-md-2">
                            <div class="card card-people-two">
                                <div class="card-header">
                                    <div class="pos-absolute a-0">
                                        <img src="{{ absolute_url(asset('/backoffice/assets/img/bg-login.png')) }}" alt="">
                                    </div>
                                    <div class="avatar avatar-md"><img src="{{ absolute_url(asset('/qrcode/'~ invite.ticket.media)) }}" class="rounded-circle" alt=""></div>
                                </div>
                                <div class="card-body">
                                    <h6>{{ invite.participant.nom|upper }} {{ invite.participant.prenoms|title }}</h6>
                                    <p><a href="https://wa.me/225{{ invite.participant.contact }}?text=Bonne%20M./Mme/Mlle%20{{ invite.participant.nom }}.%20%20Vous%20êtes%20installé(e)%20à%20la%20table%20*{{ invite.place }}*"><i class="fab fa-whatsapp fa-lg"></i></a></p>

                                    <div class="follow-info mg-t-20">
                                        <div>
                                            <h6>{{ invite.place ? invite.place : '-' }}</h6>
                                            <span>Table</span>
                                        </div>
                                        <div>
                                            <h6><span class="badge badge-danger">NON</span></h6>
                                            <span>Installé</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex">
                                    {% if invite.place %}
                                        <a href="#" class="btn btn-white btn-sm flex-fill"><i class="icon ion-plus tx-12 mg-r-2"></i> Installer</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
